<!DOCTYPE html>
<html>
    <head>
        <title>Flask and SQLite </title>
    </head>
    <body>
        <form method="POST">
            <label>categoria:</label>
            <input type="name" name="categoria" placeholder="Recurso / Proyecto" required><br/>
            <label>Título:</label>
            <input type="name" name="titulo" placeholder="Ingrese el título del post" required><br/>
            <label>Contenido:</label>
            <input type="name" name="contenido" placeholder="Ingrese el contenido del post" required><br/>
            <label>Autor:</label>
            <input type="name" name="autor" placeholder="Ingrese el nombre del autor" required><br/>
            <label>Fecha:</label>
            <input type="name" name="fecha" placeholder="Ingrese la fecha" required><br/>
            <label>Etiquetas:</label>
            <input type="name" name="etiquetas" placeholder="Ingrese las palabras claves" required><br/>
            <input type = "submit" value = "Enviar"/><br/>
        </form>
    </body>
</html>
